.movie-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 80px;
  flex-grow: 1;
}
@media screen and (max-width: 768px) {
  .movie-section {
    --side-margin: 30px;
  }
}
@media screen and (max-width: 425px) {
  .movie-section {
    gap: 50px;
  }
}
