.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.profile__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: min(410px, 100%);
  min-height: 482px;
  transform: translateY(4px);
}
.profile__title {
  margin: 0 0 107px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.profile__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: stretch;
}
.profile__input-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__input-label:not(:last-of-type) {
  border-bottom: 1px solid #424242;
}
.profile__input-label:hover:has(input:read-only) {
  cursor: default;
}
.profile__input-title {
  font-weight: 500;
  font-size: 11px;
}
.profile__input {
  flex-grow: 1;
  margin-left: 10px;
  border: none;
  padding: 16px 0 16px;
  color: var(--text-color, #fff);
  font-weight: 400;
  font-size: 11px;
  text-align: right;
  background: none;
  transition: color .3s;
}
.profile__input:read-only:focus {
  color: var(--text-color, #fff);
}
.profile__input:focus {
  outline: transparent;
  color: var(--accent-color, #3DDC84);
}
.profile__input:hover {
  cursor: default;
}
.profile__submit {
  min-height: 45px;
  margin-top: auto;
  border: none;
  border-radius: 3px;
  color: inherit;
  background-color: var(--link-color, #4285F4);
}
.profile__submit:disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
}
.profile__submit:disabled:hover {
  opacity: 1;
  cursor: default;
}
.profile__button {
  margin-top: 16px;
  border: none;
  color: var(--text-color, #fff);
  font-weight: 400;
  font-size: 13px;
  background: none;
}
.profile__button_type_submit {
  margin-top: auto;
}
.profile__button:last-child {
  color: var(--input-err-color, #EE3465);
  font-weight: 500;
}
.profile__button:disabled {
  cursor: default;
  opacity: .5;
}
.profile__input-error {
  position: absolute;
  right: 0;
  bottom: 4px;
  display: none;
  width: 100%;
  overflow: hidden;
  color: var(--input-err-color, #EE3465);
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile__input-error_active {
  display: block;
}
.profile__input:has(+ .profile__input-error_active) {
  color: var(--input-err-color, #EE3465);
}
.profile__submit-message {
  position: absolute;
  bottom: 65px;
  width: 100%;
  margin: auto 0 0;
  color: var(--input-err-color, #EE3465);
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
  line-height: 13px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .profile__title {
    margin-bottom: 80px;
  }
  .profile__button {
    transform: translateY(-40px);
  }
  .profile__submit-message {
    bottom: 100px;
  }
}
@media screen and (max-width: 425px) {
  .profile__container {
    height: 100%;
    padding: 70px 30px 40px;
    transform: none;
  }
  .profile__title {
    margin-bottom: 64px;
  }
  .profile__button {
    transform: none;
  }
  .profile__submit-message {
    position: relative;
    bottom: 0;
    margin-top: auto;
  }
}