.promo {
  margin: 0 40px;
  background-color: #272727;
  border-radius: 10px;
  padding: 160px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 151px;
  align-items: center;
  width: min(100%, 1200px);
}
.promo__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  text-align: center;
  width: min(100%, 730px);
}