.nav-panel {
  position: fixed;
  inset: 0 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.3s 0.3s;
  background-color: rgb(0 0 0 / .3);
  cursor: pointer;
}
.nav-panel_active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 0.3s;
}

.nav-panel__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 105.44px;
  width: min(520px, 100%);
  height: 100%;
  margin-left: auto;
  background-color: var(--bg-color, #202020);
  cursor: default;
  transform: translateX(min(520px, 100%));;
  transition: transform 0.3s 0s;
}

.nav-panel_active .nav-panel__container {
  transform: translateX(0);
  transition: transform 0.3s 0.3s
}

.nav-panel__close-button {
  align-self: flex-end;
  width: 22px;
  height: 22px;
  margin-top: 22.44px;
  margin-right: 22.44px;
  border: none;
  padding: 0;
  background: none;
  background-image: url(../../images/close.svg);
  background-position: center;
  background-size: cover;
}

.nav-panel__close-button:hover {
  opacity: .8;
  cursor: pointer;
}

.nav-panel__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 28px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-panel__link {
  color: var(--text-color, #fff);
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.nav-panel__link:hover {
  opacity: 0.8;
}

.nav-panel__link_active {
  position: relative;
}

.nav-panel__link_active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background-color: var(--text-color, #fff);
}

.nav-panel__button {
  position: fixed;
  bottom: 90px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  border-radius: 20px;
  color: var(--text-color, #fff);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  background-color: var(--button-bg-color, #313131);
}

.nav-panel__button:hover {
  opacity: .8;
  cursor: pointer;
}
