.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}
.header__logo {
  display: block;
  width: 38px;
  height: 38px;
}
.header__menu-auth {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.header__button {
  min-width: 76px;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-decoration: none;
  background-color: var(--accent-color, #3DDC84);
}
.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  margin-left: 62px;
  padding: 0;
  list-style: none;
}
.header__menu-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
}
.header__menu-link_active {
  font-weight: 500;
}
.header__acc-button {
  min-width: 100px;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--text-color, #fff);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--button-bg-color, #313131);
}
.header__nav-button {
  display: none;
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  background-image: url(../../images/navicon.svg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .header {
    --side-margin: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav-button {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header__acc-button {
    display: none;
  }
}
@media screen and (max-width: 625px) {}
@media screen and (max-width: 425px) {
  .header {
    --side-margin: 14px;
  }
  .header__menu-auth {
    gap: 14px;
  }
  .header__link {
    font-size: 10px;
    line-height: 1.6;
  }
  .header__button {
    min-width: 54px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    line-height: 1.6;
  }
  .header__nav-button {
    width: 40px;
    height: 43px;
  }
}