.about {
  padding: 0 70px;
}
.about__columns {
  margin: 70px 0 110px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}
.about__column {
  width: min(100%, 550px);
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.about__title {
  margin: 0;
}
.about__text {
  margin: 0;
}
.about__table {
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 14px;
}
.about__cell {
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.about__cell_type_key {
  font-weight: 500;
  line-height: 1.21;
  color: var(--text-extra-color, #8B8B8B);
}
.about__cell_type_value {
  font-weight: 400;
  color: var(--text-color, #fff);
  background-color: var(--cell-color, #303030);
  padding: 9px 0;
}
.about__table-key {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  color: var(--text-extra-color, #8B8B8B);
  margin: 0;
}
.about__cell_accent {
  background-color: var(--accent-color, #3DDC84);
  color: #000;
}