.auth {
  display: flex;
  /* box-sizing: border-box; */
  height: 100%;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
}
.auth__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  width: min(396px, 100%);
  /* height: 100vh; */
  margin: auto;
}
.auth__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
}
.auth__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  min-height: 380px;
}
.auth__input-label {
  position: relative;
  width: 100%;
}
.auth__input-title {
  display: block;
  color: var(--text-extra-color, #8B8B8B);
  font-weight: 400;
  font-size: 10px;
}
.auth__input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 0;
  border: none;
  border-radius: 8px;
  padding: 15px;
  color: inherit;
  font-weight: 400;
  font-size: 13px;
  background-color: var(--input-bg-color, #2F2F2F);
}
.auth__input:focus {
  font-weight: 500;
}
.auth__submit {
  min-height: 45px;
  font-size: 14px;
  font-weight: 500;
  margin-top: auto;
  border: none;
  border-radius: 3px;
  color: inherit;
  background-color: var(--link-color, #4285F4);
}
.auth__submit:disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
}
.auth__submit:disabled:hover {
  opacity: 1;
  cursor: default;
}
.auth__footer {
  align-self: center;
  margin: 0;
  margin-top: 16px;
  color: var(--text-extra-color, #8B8B8B);
  font-weight: 400;
  font-size: 14px;
}
.auth__link {
  color: var(--link-color, #4285F4);
}
.auth__submit-message {
  position: absolute;
  margin: 0;
  bottom: 93px;
  /* bottom: 65px; */
  width: 100%;
  /* margin: auto 0 0; */
  color: var(--input-err-color, #EE3465);
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
  line-height: 13px;
  text-align: center;
}
@media screen and (max-width: 525px) {
  .auth__container {
    justify-content: flex-start;
    padding: 56px 30px 30px;
    height: 100%;
    position: relative;
  }
  .auth__logo-link {
    align-self: center;
  }
  .auth__title {
    align-self: center;
    text-align: center;
    margin: 50px 0 80px;
  }
  .auth__form {
    height: 100%;
  }
  .auth__submit {
    font-size: 12px;
  }
  .auth__footer {
    margin-top: 14px;
    font-size: 12px;
  }
  .auth__submit-message {
    position: relative;
    margin-top: auto;
    bottom: 0;
  }
}